body,html{
  position: fixed;
  overflow: hidden;
  touch-action: pan-y;
}

.p-panel div.p-panel-header{
  padding-top: 0;
  padding-bottom: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.editor-tabs{
  overflow: hidden;
}

.p-tabview.editor-tabs{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.p-tabview.editor-tabs .p-tabview-panels{
  flex: 1;
  overflow: hidden;
  display: flex;
  padding: 0;
  flex-direction: column;
}
.p-tabview.editor-tabs .p-tabview-panel{
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.panel-full{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel-full .p-toggleable-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.panel-full .p-panel-content{
  flex: 1;
}

.p-panel .p-panel-content{
  padding: 0;
}

.project-explorer.p-tree .p-tree-container .p-treenode div.p-treenode-content.p-highlight{
  background-color: gray;
  color: white;
}

.ͼ1 .cm-lint-marker-error:before {
  content: '⚠';
  color: red;
}

.cm-diagnostic{
  font-family: monospace;
}